<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ToDo App">
  <meta name="author" content="Shingo Hayashibara">
  <link rel="icon" href="/favicon.ico">

  <title>ToDo App</title>

  <!-- Bootstrap core CSS -->
  <link href="webjars/bootswatch-sandstone/4.2.1/bootstrap.min.css" rel="stylesheet">
  <link href="webjars/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">ToDo App</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
            <a class="nav-link" href="/signin" title="ログイン"><i class="fa fa-2x fa-sign-in" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
            <a class="nav-link" href="/signup" title="ユーザー登録"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
              <a class="nav-link" href="/signout" title="ログアウト"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-8">
          <h1>新規作成</h1>
        </div>
      </div>
    </div>

    <div class="bs-docs-section">
      <th:block th:if="${! #strings.isEmpty(success)}">
        <div class="alert alert-dismissible alert-success">
          <ul>
            <li th:text="${success}"></li>
          </ul>
        </div>
      </th:block>
      <th:block th:if="${! #lists.isEmpty(errors)}">
        <div class="alert alert-dismissible alert-danger">
          <ul th:each="error : ${errors}">
            <li th:text="${error}"></li>
          </ul>
        </div>
      </th:block>
      <form th:action="@{/create}" method="POST" id="create_form">
        <div class="form-row">
          <div class="form-group col-md-2">
            <input type="text" id="inputName" name="name" class="form-control-plaintext" placeholder="ToDoを入力"
              th:value="${articleForm.name}" maxlength="64" required autofocus>
          </div>
          <div class="form-group col-md-8">
            <input type="text" id="inputDescription" name="description" class="form-control-plaintext"
              placeholder="概要を入力" th:value="${articleForm.description}" maxlength="255" required>
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary mb-2">
              <i class="fa fa-check-square-o" aria-hidden="true"></i> 新規登録
            </button>
          </div>
        </div>
      </form>
      <form th:action="@{/update}" method="POST" id="update_form">
        <div class="form-row">
          <div class="form-group col-md-2">
            <input type="text" id="inputUpdateName" name="name" class="form-control-plaintext" placeholder="ToDoを入力"
              th:value="${articleForm.name}" maxlength="64" required autofocus>
          </div>
          <div class="form-group col-md-8">
            <input type="text" id="inputUpdateDescription" name="description" class="form-control-plaintext"
              placeholder="概要を入力" th:value="${articleForm.description}" maxlength="255" required>
          </div>
          <div class="form-group col-md-2">
            <input type="hidden" name="id" id="inputUpdateId">
            <button type="submit" class="btn btn-primary mb-2"　id="update_submit">
              <i class="fa fa-check-square-o" aria-hidden="true"></i> 更新
            </button>
            <button type="submit" class="btn btn-warning mb-2" id="complete_submit">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> 完了
            </button>
          </div>
        </div>
      </form>
      <form th:action="@{/complete}" method="POST" id="complete_form">
        <input type="hidden" name="id" id="inputCompleteId">
      </form>
      <form th:action="@{/delete}" method="POST" id="delete_form">
        <input type="hidden" name="id" id="inputDeleteId">
      </form>
    </div>
    <div><hr></div>
    <div class="bs-docs-section">
      <th:block th:each="article : ${articles}">
        <div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <p th:text="${ article.name }"></p>
            </div>
            <div class="form-group col-md-8 clearfix">
              <p th:text="${ article.description }"></p>
              <p class="float-right">
                <small th:text="${ article.accountDisplayName }"></small>
                <small th:text="${ article.created }"></small>
              </p>
            </div>
            <div class="form-group col-md-2" th:with="completed=${ article.status.completed }">
              <button type="submit" class="btn mb-2"
                th:classappend="${completed} ? 'btn-danger' : 'btn-secondary'"
                th:data-article-id="${ article.id }"
                th:data-article-status="${ article.status }"
                th:disabled="${#authentication.principal.equals('anonymousUser') || #authentication.principal.id != article.accountId }">
                <i class="fa" aria-hidden="true"
                  th:classappend="${completed} ? 'fa-times-circle' : 'fa-check-square-o'"></i> 
                <th:block th:text="${completed} ? '削除': '更新'"></th:block>
              </button>
            </div>
          </div>
        </div>
      </th:block>
    </div>

  </main><!-- /.container -->

<script type="text/javascript">
  $(function () {
    $('#update_form, #complete_form, #delete_form').hide();

    $('button:submit[data-article-status="OPENED"]').on('click', function (e) {
      var id = $(this).data('article-id');
      $('#inputUpdateId, #inputCompleteId').val(id);
      $.ajax({
        url: '/article/' + id,
        type: 'GET',
        timeout: 10000
      }).done(function (data) {
        $('#create_form').hide();
        $('#update_form').show();
        $('h1').text('更新');
        $('#inputUpdateDescription').val(data.description);
        $('#inputUpdateName').val(data.name).focus();
      })
    });

    $('button:submit[data-article-status="COMPLETED"]').on('click', function (e) {
        var id = $(this).data('article-id');
        $('#inputDeleteId').val(id);
        $('#delete_form').submit();
        return false;
    });
    
    $('#complete_submit').on('click', function (e) {
    	$('#complete_form').submit();
    	return false;
    });
  });
</script>

</body>

</html>